################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin/Debug/net8.0
/CanopyViewer.csproj.user
/appsettings.Development.json
