################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin/
*.user
appsettings.Development.json
appsettings.json

*.db
*.db-shm
*.db-wal

.DS_Store
Thumbs.db
