@page
@model CanopyViewer.Pages.AdminPageModel
@{
    <div class="text-center">
        <h1 class="display-4">This is an admin only page!</h1>
        <h1>CanopyViewer User Roles Prototype</h1>
        <p>Server running in local development environment, user logged in as admin</p>
    </div>
}
