@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>CanopyViewer System Prototype</h1>
    <p>Server running in local development environment</p>
</div>
