@page
@model LoginModel

<h2>Login</h2>

<form method="post">
    <label>Username</label><br />
    <input asp-for="Username" /><br />

    <label>Password</label><br />
    <input asp-for="Password" type="password" /><br /><br />

    <button type="submit">Login</button>
</form>

@if (Model.ErrorMessage != null)
{
    <p style="color:red">@Model.ErrorMessage</p>
}
